*{
  margin: 0px;
  padding: 0px;
text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  height: 60px;
}
.prosection{
  display: flex;
}
.imgbox{
  width: 80%;
}
.proimg{
  width: 100%;
}
.submenu {
background-color:gray;
margin-top: 0px;
height: 30px;
color: azure
}
.submenu ul {
  display: flex;
  justify-content: space-between;
}
.submenu ul li{
  list-style: none;
}
.pagesection{
   display: grid;
   grid-template-columns: repeat(4,300px);
   gap: 10px;
}
.pageimg{
  width: 200px;
  height: 200px;
}
.pageimg img{
  width: 100%;
}
.ind-img{
  height: 500px;
  width: 500px;
}
.ind-img img{
  width: 100%;
}
.ind-section{
  display: flex;
}
.ind-details{
  margin-left: 10px;
  padding: 20px;
}
.space{
  margin: 10px;
}
.ind-section button{
  background-color: black;
  padding: 10px;
  width: 10rem;
  border-radius: 5px;
  color: white;

}
.buy{
  margin-left: 6px;
}
